In [1]:
#Variables
a = 10

In [2]:
type(a)

int

In [3]:
a = [1,2]
type(a)

list

In [4]:
x = [1,2,3,4,5]

In [5]:
y = [2,3,4,5,6]

In [6]:
x+y

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

In [7]:
read about dot product

SyntaxError: invalid syntax (4286401367.py, line 1)

In [ ]:
# Assignment: Learn about Keywords and datatypes
#    20+ keywords on a document
#    Introduction to Programing -PE1
#    Module 1.1 - 1.4

In [ ]:
#Tokens are the smallest unit in a programming language
#These are 1.keywords,2.Operators, 3.Data Types(Primitive), 4.Namespace.

In [ ]:
j = 0
while j<9:
    j=j+1
    if j == 3:
        continue
    print(j)

In [ ]:
import datetime as dt

In [ ]:
list1 = ['a','b','c']
'a' in list1

In [ ]:
a = 10
type(a)
b = a
type(b)

In [ ]:
a = "10"
b = a
type(b)

In [ ]:
1+2

In [ ]:
#IS operator vs "=="
a = [1,2,3]
b = a
c = a[:]

In [ ]:
a == b

In [ ]:
a == c

In [ ]:
a is b

In [ ]:
a is c

In [ ]:
print(a[:])

In [ ]:
x = "Hello"

In [ ]:
assert x == "Goodbye"

In [ ]:
x = None
#The 'None' keyword is used to define a 'NULL' value, or no value at all.
#'None' is not the same as 0, False, or an empty string. None is a data type of its own.

type(x)

In [ ]:
def func1():
    x = 'Yashish'
    def func2():
        nonlocal x
        x = 'Mohanty'
    func2()
    return x
print(func1())

PYTHON TRAINING DAY 2

In [ ]:
#User Defined Inputs
#String Interpolation
#Python Operators

In [ ]:
a = input('Enter your age')

In [ ]:
type(a)

In [ ]:
a  = int(input("Enter the age "))

In [ ]:
type(a)

In [ ]:
a = list(input())

2
3

In [ ]:
list1 = list(input())

In [ ]:
print(list1)

In [ ]:
list2 = list(input())

In [ ]:
print(list1)

In [ ]:
list1.split(",")

In [ ]:
list3 = list(input())

In [ ]:
print(list(map('',list3)))

In [ ]:
a = [1,2,3]
b = a
c = a[:]

In [ ]:
a == b

In [ ]:
a == c

In [ ]:
a is c

In [ ]:
print(a[:])

In [ ]:
print('Hello', end=' ')
print('Yashish')

In [ ]:
print('''Hello world
          hello world 2
            hello world 3''')

In [ ]:
#String Interpolation

In [ ]:
a = 'Hello'
print('a world')

In [ ]:
#Modulo '%'
# f string
#string formate
#Class template

In [ ]:
a = 'Hello'
print(f'{a} world')

In [ ]:
print('{a1},{a2},{a3} world'.format(a1 = a))

In [ ]:
print('{a} Mohanty'.format(a = 'Yashish'))

In [ ]:
print('{},{},{},{}'.format(1,2,3,4))

In [ ]:
# Modulo % 
print('%s world' %(a))

In [ ]:
#Class templates
from string import Template
temp = Template('$n1 $n2')
for i in range(10):
    print(temp.substitute(n1 = i,n2 = i+1))

In [ ]:
print(11_111_11)

In [ ]:
print(11,11,111)

In [ ]:
list4 = input().split(',')

In [ ]:
print(list4)

In [ ]:
type(list4)

## Arithmetic Operators

 +,-,/,%,**,*,//   PEMDAS(Parenthesis, Exponentiation,   Multiplication,Division, Addision, Division)

## Comparision Operators

 > , < , >=, <=, ==, !=

## Logical Operators

 OR, AND, XOR..

## Bitwise Operators

 >>,<<

## Assignment Operators
 =, +=, -=, /=, %=, **= ...


## Ternary Operator

 if condition then result else else's result

# Identity operators & Membership operators
# is, in, is not, not in

In [ ]:
#LOGICAL OP
#AND
x = 100

print(x > 3 and x < 10)

In [ ]:
#OR
x = 100

print(x > 3 or x < 10)

In [ ]:
#NOT 

x = int(input())
y = int(input())
 
x = x / y
y = y / x
 
print(y)

In [ ]:
x = int(input())
y = int(input())
 
x = x % y
x = x % y
y = y % x
 
print(y)

In [ ]:
x = 1 / 2 + 3 // 3 + 4 ** 2
print(x)

In [ ]:
x = 5
y = 3

print(x + y)

In [ ]:
print(x-y)

In [ ]:
x/y

In [ ]:
x*y

In [ ]:
x%y

In [ ]:
x**y

In [ ]:
x//y

In [ ]:
x += 3
print(x)

In [ ]:
x -= 1
print(x)

In [ ]:
x *= 2
print(x)

In [ ]:
x /= 3
print(x)

In [ ]:
x %= 1
print(x)

In [ ]:
x == y

In [ ]:
x != y

In [ ]:
x > y

In [ ]:
x < y

In [ ]:
x is y

In [ ]:
x is not y

In [ ]:
x = 3
y = 3.0
print(x==y)
print(x is y)

In [ ]:
# STRING MANUPULATION
a = '0123456789'
a[:]

In [ ]:
a[:6] #[start(included):end(not included):step value]

In [ ]:
a[-1]

In [ ]:
a[::-1]

In [ ]:
a[::2]

In [ ]:
a[:6:3]

In [ ]:
a[:-5:-2]

In [ ]:
#String Functions/Methods
len(a)

In [ ]:
c = a.replace('3','4')
type(c)

In [ ]:
print(a is c)
print(id(a))
print(id(c))
type(a.replace('3','4'))

In [ ]:
#Replace copies the string value in 'a' and then replace the values and assigns it to another.

In [ ]:
#Title, capitalize

In [ ]:
#Check if a number is a valid phone number or not
-13 digits
-should not end with anything expect 0-9
-should start with +91

In [ ]:
import re
def is_valid_phone_number(number):
    # Define a regular expression pattern to match the phone number format
    pattern = r'^\+91\d{11}$'

    # Use the re.match function to check if the number matches the pattern
    if re.match(pattern, number):
        return True
    else:
        return False

In [ ]:
def is_valid(num):
    if (len(num) == 13) and (num[:3] == '+91'):
        a = 0
        for i in (num[3:]):
            if i in range(10):
                a = a+1
        if(a>0):
            print("valid")

In [ ]:
def is_valid(num):
    if (len(num) == 13) and (num[:3] == '+91') and num[1:].isdigit():
        print("Valid")
    else:
        print("Invalid")

In [ ]:
num = input()
ans = is_valid(num)

In [ ]:
l1 = [[1,2,3],[1,[2,3,[3,[4,6,[1,'X']]]],[4,5]]]

In [ ]:
l1[1][1][2][1][2][1]

## STRING METHODS

In [ ]:
a = "Yashish"
print(len(a))

In [ ]:
x = "Yashish Mohanty"

x = x.capitalize()

print (x)

In [ ]:
x = "Hello Yashish"

x = x.casefold()

print(x)

In [ ]:
txt = "banana"

x = txt.center(20,'-')

print(x)

In [ ]:
x = "I love apples, apple are my favorite fruit"

x = x.count("apple")

print(x)

In [ ]:
x = "Hello, welcome to my world."

x = x.find("welcome")

print(x)

In [ ]:
x = "Hello, welcome to my world."

x = x.index("world")

print(x)

In [ ]:
x = "50"

x = x.zfill(10)

print(x)

In [ ]:
x = "Welcome to my world"

x = x.title()

print(x)

In [ ]:
x = "welcome to the jungle"

x = x.split()

print(x)

In [ ]:
txt = "I could eat bananas all day"

x = txt.partition("I")

print(x)

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
fruits

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
fruits

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
x

In [ ]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")
x

In [ ]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
fruits

In [ ]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
x

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")
fruits

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)
print(fruits)
fruits.pop()
print(fruits)

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()
fruits

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
cars

In [ ]:
a = ['Yashish','2','1']
a.sort()

In [ ]:
sampleList = [10, 20, 30, 40]
del sampleList[0:6]
print(sampleList)

In [ ]:
aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])    
print(aList[1][3])

In [ ]:
l = [None] * 10
print(len(l))

# Tuples Methods

In [ ]:
tuple1 = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = tuple1.count(5)

print(x)

In [ ]:
tuple1 = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = tuple1.index(8)

print(x)

In [ ]:
sorted(tuple1)

In [ ]:
max(tuple1)

In [ ]:
sum(tuple1)

# Set Methods

In [ ]:
# Add method for set
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

In [ ]:
#Clear method empyts the set.
fruits.clear()
fruits

In [ ]:
#Copy method copies a set to another set.
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
x

In [ ]:
#Difference method removes all the elements that that matches.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

In [ ]:
#difference_update method removes all the elements that matches and stores in that set only, no need for another variable to store.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

In [ ]:
# The discard() method removes the specified item from the set. This method is different from the remove() method, 
# because the remove() method will raise an error if the specified item does not exist, 
# and the discard() method will not.
fruits = {"apple", "banana", "cherry"}

fruits.discard("yashish")

print(fruits)

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("yashish")

print(fruits)

In [ ]:
# Intersection method returns a set that contains those elements that are both present/common in the corresponding sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

In [ ]:
# Same as the intersection method but no return, instead it updates the same set.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

In [ ]:
# isdisjoint method is used to check if both the sets are intersecting or not.,i.e they have a common element or not.
# True if not intersecting.
# False if intersecting.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

In [ ]:
#Return True if all items in 1st set are present in 2nd set.
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

In [ ]:
#Returns True if all items in the 2nd set are present in the 1st set.
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

In [ ]:
#Pop method removes a random item from the set
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

In [ ]:
#Symmetric Difference removes the common elements from both the sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

In [ ]:
# Same as symmetric difference but here no return, updates the data in the 1st set only.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

In [ ]:
#Union method adds all the elements from set1 and set2, and makes a bigger set.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

In [ ]:
# update method adds the items from set2 inside of set1.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

In [ ]:
# this code showcases the difference between casefold() and lower().\
# casefold() has a wider range of character that it can conver to lower.
mystr = 'außen'
print(mystr.casefold())

mystr = 'außen'
print(mystr.lower())

In [ ]:
# code showcase how append() and extend() are different.
list1 = [12,14,122,2]
list2 = [1,2,3,4]
list3 = ['Yashish']

list1.append(list2)
list3.extend(list2)

print(list1)
print(list3)

In [ ]:
# this code showcases how we can pass variable dynamically as argument without using '*'
def my_function(arg_list):
    for arg in arg_list:
        print(arg)

arguments = [1, 2, 3, 4, 5]
my_function(arguments)

In [ ]:
# this code showcases that sets are unordered as the way the set is initialized is not how the output comes 
# if we iterate over it.
my_set = {3, 1, 2, 4, 5,100000,44}

print("Set elements:")
for item in my_set:
    print(item)

# Dictionary
 - dictionaries are ordered, it means that the items have a defined order, and that order will not change.
 - Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.
 - Dictionaries cannot have two items with the same key
 - Rules of Dictionary:
  - -keys: Every immutable datatypes are allowed(strings,ints,floats,tuple,frozenset,bytes,complex)
  - -Values: Anything

In [ ]:
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict1["brand"])

In [ ]:
#Dictionaries always have 1 unique key 
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(dict1)

In [ ]:
# here dict1 has three unique mappings thats why len is 3.
len(dict1)

In [ ]:
#The values in dictionary items can be of any data type
dict2 = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(dict2)

In [ ]:
# Using dict constructor to make a dictionary.
dict3 = dict(name = "John", age = 36, country = "Norway")
print(dict3)

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
# To add a key to the dictionary
d = {"Name":"Ram" , "Age":23}
print(d)
d.update({"City":"Salem"}) #using update() method.
print(d)
d["Gender"]="Male" #adding with key:value.
print(d)

In [ ]:
# To check if the key already exits in the dictionary.
dict_1 = {'Name':'Yashish','LastName':'Mohanty'}
print('Name' in dict_1)
print('Yashish' in dict_1)

In [ ]:
for i in dict_1:
    print(i)

In [ ]:
for i in dict_1.items():
    print(i)

In [ ]:
for i,j in dict_1.items():
    print(i,':' ,j)

In [ ]:
#Generating a dictionary using for loop with internal logic (x:x*x)
l=int(input("Enter the Limit : "))
d = dict()
 
for x in range(l+1):
    d[x]=x*x
print(d)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
    "age": None
}
mydict = thisdict.copy()
print(mydict)

In [ ]:
print(d[1])

In [ ]:
print(list(d)[5])

In [ ]:
print(list(d))

In [ ]:
#Droping empty items from dictionary
droped_item = {key:value for (key, value) in thisdict.items() if value is not None}
print(droped_item)

In [ ]:
# same code as above.
for (i,j) in thisdict.items():
    if item is not None:
        a[i]=j
print(a)

In [ ]:
# Bytes, Complex
# how to represent them.

In [ ]:
import re
val = re.search(r'Yashish','YashishYashish is a good boy!')
print(val)
print(val.group())
print('Start index',val.start())
print('end index', val.end())

In [ ]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval,hi"}
print(dictionary.keys())
print(dictionary.values())
print(dictionary.items())
for key in dictionary.keys():
    print(key, "->", dictionary[key])

In [ ]:
# Example 1
tuple_1 = (1, 2, 3)
for elem in tuple_1:
    print(elem)
 
# Example 2
tuple_2 = (1, 2, 3, 4)
print(5 in tuple_2)
print(5 not in tuple_2)
 
# Example 3
tuple_2 = (1, 2, 3, 4)
print(len(tuple_2))
print(5 not in tuple_2)
# Example 4
tuple_4 = tuple_1 + tuple_2
tuple_5 = tuple_2 * 2
 
print(tuple_4)
print(tuple_5)

In [ ]:
set1 = {1,2,3}
x = set1.copy()
print(id(x))
print(id(set1))

In [ ]:
x = {1,2,3}
y = {2,4}
z = x  - y
z1 = y - x
printtype((z)
print(z1)

# Conditional Statements

In [ ]:
# if....else
# elif

In [ ]:
#if condition:
#    logic
#else:
#    logic

In [ ]:
a = 10
b = 20

In [ ]:
if a > b :
    print('A is greater than B')
else:
    print('B is greater than A')

In [ ]:
## Ternary statements
print('A equals to B' if a == b else 'A is greater than B' if a>b else 'B greater than A')

In [ ]:
age = int(input())
salary = '5k' if age < 23 else None
print(salary)

In [ ]:
age = int(input())
print('10k' if age in range(23,30)else None)

In [ ]:
age = int(input('Enter age in years '))
salary = '5k' if age < 23 else '10k' if age in range(23,31) else '20k' if age in range(30,36) else '30k' if age > 35 else None
print('Your salaray should be ->',salary)

# Loops
 - for loop
 - while loop

In [ ]:
l1 = [1,2,3,4,5]
s1 = {1,2,3,4,5}
for i in range(len(l1)):
    print(i)

In [ ]:
for i in range(len(s1)):
    print(i)

In [ ]:
# print first 50 natural numbers starting from 1 to 50:
for i in range(1,51):
    print(i,end = ' ')

In [ ]:
for i in l1:
    print(i)

In [ ]:
#while condition is true :
#    logic
#else:
#    logic

In [ ]:
i = 10
while (i<20):
    print(i)
    i +=1
else:
    print('Out of Loop')

In [ ]:
for i in range(0,50):
    if i%2 == 0:
        break
    print(i)
print('X')

In [ ]:
l1 = [1,2,3,4,5]
print(list(enumerate(l1)))

# Assignment 7

In [ ]:
#1 - Print all numbers from -10 to 10  using :

#   a) while loop
#   b) For loop

for i in range(-10,11):
  print(i, end=' ')


i = -10
while i < 11:
  print(i, end =' ')
  i +=1

In [ ]:
#2 - Find sum of all prime numbers from 1 - 100
def isPrime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

sum = 0
for i in range(1,101):
    if isPrime(i) == True:
        print(i,end=" ")
        sum = sum + i
print()
print(sum)

In [ ]:
#3 - Print the following pattern :

n = int(input('Enter the size of n for pattern: '))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

In [ ]:
#4 - Find the factorial of a given number (take input from user)
num = int(input("Enter a number: "))

if num < 0:
    print("Factorial cannot be found for negetive numbers.")
else:
    fact = 1
    for i in range(1, num + 1):
        fact *= i

    print(f"The factorial of {num} is {fact}")

In [ ]:
#5 - Reverse a given integer number (input should be atleaast 2 digits or more else print invalid input)
num = int(input('Enter a number: '))
if len(str(num)) < 2:
  print('Enter a number that is atleast 2 digits long')
else:
  rev = str(num)[::-1]
  print('Reverse of the inputed number is: ',int(rev))

In [ ]:
num = int(input("Enter an integer: "))
rev_num = 0
rem = 0

while num > 0:
    rem = num % 10
    rev_num = rev_num * 10 + rem
    num = num // 10

print('The reversed number is:',rev_num)

In [ ]:

#6 - Write a program to print the following start pattern using the for loop
num = int(input('Enter the size: '))

for i in range(1, num + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

for i in range(num - 1, 0, -1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

In [ ]:
#7
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 13, 22, 40, 22, 55, 45, 32, 234, 545, 343, 2423, 4]

for num in list1:
    digit_sum = 0

    for char in str(num):
            digit_sum += int(char)

    if digit_sum == 4:
        print(num,end = ' ')

In [ ]:
sum = 0
for i in range(2,101):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i,end = ' ')
        sum += i
print()
print(sum)

# Functions

In [ ]:
def funcName():
    return result

In [ ]:
def functionName():
    pass

In [ ]:
#User Define Function
#Non Parameterized Function

def sum1():
    a = 5
    b = 6
    return a + b

In [ ]:
# Calling a function
sum1()

In [ ]:
#Parameterized Function
def sum2(a,b):
    return a+b

In [ ]:
sum2(4,11)

In [ ]:
def castSum(a:int,b:int):
    return a*(a+b)

In [ ]:
castSum(2,3)

In [ ]:
def printArgs(args):
    return sum(args)

In [ ]:
printArgs(2)

In [ ]:
def printArgs1(*args):
    sum = 0
    for i in args:
        sum +=int(i)
    return sum

In [ ]:
printArgs1(1,2,3,4,10)

In [ ]:
def dictType(kwargs):
    return kwargs

In [ ]:
dictType({'Hello':'Yashish'})

In [ ]:
def tupleType(*args):
    return args

In [ ]:
tupleType('Yashish','Mohanty','Hello')

In [ ]:
def dictType(**kwargs):
    return kwargs

In [ ]:
dictType(a='Yashish',b='Mohanty',c='Hello')

In [ ]:
# Store the current largest number here.
largest_number = -999999999
 
# Input the first value.
number = int(input("Enter a number or type -1 to stop: "))
 
# If the number is not equal to -1, continue.
while number != -1:
    # Is number larger than largest_number?
    if number > largest_number:
        # Yes, update largest_number.
        largest_number = number
    # Input the next number.
    number = int(input("Enter a number or type -1 to stop: "))
 
# Print the largest number.
print("The largest number is:", largest_number)

In [ ]:
def bubble_sort(arr):
    n = len(arr)
    
    # Traverse through all elements in the list
    for i in range(n):
        # Flag to indicate whether any swapping is done in this pass
        swapped = False
        
        # Last i elements are already in place, so no need to check them
        for j in range(0, n-i-1):
            # Swap if the element found is greater than the next element
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]  # Swap the elements
                swapped = True
        
        # If no two elements were swapped in this pass, the list is already sorted
        if not swapped:
            break

# Example usage:
if __name__ == "__main__":
    # Input list to be sorted
    arr = [64, 34, 25, 12, 22, 11, 90]
    
    print("Original list:", arr)
    
    # Call the bubble_sort function to sort the list
    bubble_sort(arr)
    
    print("Sorted list:", arr)

In [ ]:
var = 1
while var < 10:
    print("#")
    var = var << 1

In [ ]:
a = 1
b = 0
c = a & b
d = a | b
e = a ^ b
 
print(c + d + e)

In [ ]:
nums = [1, 2, 3]
vals = nums[-1:-2]
print(nums)
print(vals)

In [ ]:
my_list_1 = [1, 2, 3]
my_list_2 = []
for v in my_list_1:
    my_list_2.insert(0, v)
print(my_list_2)

In [ ]:
t = [[3-i for i in range (3)] for j in range (3)]
s = 0
for i in range(3):
    s += t[i][i]
print(s)

In [ ]:
my_list = [1, 2, 3, 4]
print(my_list[-3:-1])

In [ ]:
var = 0
while var < 6:
    var += 1
    if var % 2 == 0:
        continue
    print("#")

In [ ]:
for i in range(1):
    print("#")
else:
    print("#")

In [ ]:
def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)
 
introduction("Skywalker", "Luke")
introduction("Quick", "Jesse")
introduction("Kent", "Clark")

In [ ]:
def func1(*args):
    for i in args:
        return i
func1(1,2,3,4,5)

In [ ]:
# in the above code there is an issue, that only one value is being returned.
# to solve this we will use:
# Iterators and Yield

def func(*args):
    for i in args:
        yield(i)
print((func(1,2,3,4,5)))

In [ ]:
for i in func(1,2,3,4,5):
    print(i)

In [ ]:
def func1(*args):
    yield(i)
print(func1(1,2,3,4,5))

In [ ]:
list(func1(1,2,3,4,5))

# Lambda Functions

In [ ]:
x = lambda a : a + 10
print(x(120))

In [ ]:
output = lambda firstname,lastname : firstname+' '+lastname

In [ ]:
output('Yashish','Mohanty')

In [ ]:
x = lambda x : x**2

In [ ]:
x(10)

In [ ]:
#define a lambda function which can take n numbers of 
#arguments and print all the arguments one by one
x = lambda *args : [print(i) for i in args]

In [ ]:
result = list(x(1,2))

# Map function

In [ ]:
#Syntax
#map(function,iterable)

In [10]:
def myfunc(a,b):
    return a+b
x = map(myfunc,('apple','banana'),('fruit','cherry'))

In [11]:
for i in x:
    print(i)

applefruit
bananacherry

In [12]:
list2 = iter([3,45,12,123,10])
print(next(list2))
print(next(list2))

3
45

In [ ]:
def sq_numbers(n):
    for i in range(1, n+1):
        yield i*i
  
  
a = sq_numbers(3)
  
print("The square of numbers 1,2,3 are : ")
print(next(a))
print(next(a))
print(next(a))

# Assignment 8

In [ ]:
#1-Write a Python program to print all the even numbers between 1-20 using 
# Lambda.
def isEven(num):
    if num%2 == 0:
        return True
    else:
        return False
for i in range(1,21):
    if isEven(i) == True:
        print(i,end=' ')

In [ ]:
x = lambda a : [i for i in range(1,21) if i%2 == 0]
x(i)

In [ ]:
#2 - Write a Python program to square and cube every number in a given 
# list of integers and print both the lists using Lambda.
list1 = [1,2,3,4,5]
squares = []
cube = []

def sqr(num):
    return num**2
def cub(num):
    return num**3

for i in list1:
    squares.append(sqr(i))
    cube.append(cub(i))
print(squares)
print(cube)

In [ ]:
square = lambda x: x ** 2
cube = lambda x: x ** 3

square_list = list(map(square, list1))
cube_list = list(map(cube, list1))

print(square_list)
print(cube_list)

In [ ]:
# 3-Write a Python program to sort a list of dictionaries using Lambda.
#Original list of dictionaries :
# [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
# Sorting the List of dictionaries :
# [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

list2 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, 
         {'make': 'Mi Max', 'model': 2, 'color': 'Gold'}, 
         {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

sorted_list2 = sorted(list2, key = lambda x:x['model'], reverse = True)
print(sorted_list2)

In [ ]:
#5 Write a Python program to check whether a given string is a number or not and return all the strings those are numbers using Lambda.
# Sample Input:
# ['Subha','20','Yashish20','4555','0']
# Sample Output:
# ['20','4555','0']

In [ ]:
list3 = ['Subha', '20', 'Yashish20', '4555', '0']

num_list = list(filter(lambda s: s.isdigit(), list3))

print(num_list)

# Extracting date time using Lambda function

In [ ]:

str1 = '2020-01-15 09:03:32'
y = lambda x : x[:4]
m = lambda y : y[5:7]
d = lambda z :z[8:10]
print(y(str1))
print(m(str1))
print(d(str1))

In [ ]:
dt1 = lambda dt: [i for i in dt.split('-')]


year, month, day = dt1(str1)
print(year)
print(month)
print(day)

In [ ]:
x = lambda x : x.replace('-','\n')
print(x(str1))

# Decorators

In [ ]:
# Decorators are special functions which takes a 
# function as an input, decorate/modify that input function 
# and return another new decorative function as an output.

# INPUT                   DecFunction                  OUTPUT

# func1() -----------> DecoFunc(func1()) ----------> func1_new()

# original                                            Modified 
# function                                            function

In [ ]:
# syntax
#dec(func()):
    
#    def mfunc():
#        print(1)
#        print(2)
#        func()
    
#    return mfunc()

In [ ]:
# @dec()
# func()

In [14]:
def dec2(x):
    
    def mfunc2():
        print('I am the 2nd decorater')
        x()
    
    return mfunc2()


def dec(x):
    
    def mfunc():
        
        print('This is the 1st decorater function')
        x()
        print('Decorated done!')
    return mfunc()

@dec
@dec2
def func():
    print('This is the base function')

I am the 2nd decorater
This is the base function
This is the 1st decorater function

TypeError: 'NoneType' object is not callable

In [88]:
#Error coming cuz we are invocing the function and trying to call it more than once.
def dec2(x):
    
    def mfunc2():                                         
        val2 = x() -->100()
        return val2**3
        
    print(mfunc2())

def dec1(x): -->x = base
    def mfunc():
        val = x() --> val = 10
        return val ** 2 --> 100
    print(mfunc())
    
@dec2
@dec1
def base():
    a = 10
    return a

100

TypeError: 'NoneType' object is not callable

In [93]:
#this is not throwing error, cuz of the concept of funciton invocation and function passing.
# read it then try to understand this.
def dec2(x=mfunc):
    
    def mfunc2():
        val2 = x() 
        return val2**3 -->10^6
        
    return mfunc2

def dec1(x=base):
    def mfunc():
        val = x()
        return val ** 2
    return mfunc

@dec2
@dec1
def base():
    a = 10
    return a


print(mfunc2())

1000000

In [35]:
#this is not throwing error, cuz of the concept of funciton invocation and function passing.
# read it then try to understand this.
def dec4(x):
    def mfunc4():
        val4 = x()
        return val4/10
    
    return mfunc4

def dec3(x):
    
    def mfunc3():
        val3 = x()
        return val3**2
    
    return mfunc3
    
    
def dec2(x):
    
    def mfunc2():
        val2 = x()
        return val2/10
        
    return mfunc2

def dec1(x):
    def mfunc():
        val = x()
        return val ** 2
    return mfunc

@dec4
@dec3
@dec2
@dec1
def base():
    a = 10
    return a

result = base()
print(result)

10.0

In [76]:
# Oops
# Access modifiers
# Exception Handling
class HomoSapiens():
    a = 10
    b = 20
    def walk():
        return 20

In [77]:
type(HomoSapiens())

__main__.HomoSapiens

In [78]:
id(HomoSapiens())

2691875638480

In [79]:
import sys
sys.getsizeof(HomoSapiens())

56

In [80]:
class Animals():
    a = 4

In [81]:
sys.getsizeof(Animals())

56

In [82]:
yashish = HomoSapiens()

In [83]:
type(yashish)

__main__.HomoSapiens

In [84]:
yashish.b

20

In [87]:
yashish.walk()

TypeError: HomoSapiens.walk() takes 0 positional arguments but 1 was given

In [95]:
def dec1(x):
    def mfunc():
        val = x()
        return val*10
    return mfunc
@dec1
def func():
    return 10
print(func())

100

In [103]:
#class
class Human():
    
    #Attributes
    hand = 2
    leg = 2
    eye = 2
    ear = 2

    #Methods/functions
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def display_val(self):
        print(self.name)
        print(self.age)
    def handicap(self):
        self.leg = self.leg - 1
        print('I have {} leg only'.format(self.leg))
        
#object of class Human        
yashish = Human('Yashish','22')
yashish.display_val()

deepu = Human('Deepanjan','22')
deepu.display_val()
deepu.handicap()

Yashish
22
Deepanjan
22
I have 1 leg only

In [105]:
#class
class Human():
    
    #Attributes
    hand = 2
    leg = 2
    eye = 2
    ear = 2

    #Methods/functions
    #Non-Parameterized Initialized Constructor
    def __init__(self):
        self.hands = 2
        self.legs = 2
        
    def display_val(self):
        print(self.name)
        print(self.age)
    def handicap(self):
        self.leg = self.leg - 1
        print('I have {} leg only'.format(self.leg))
        
#object of class Human        
#yashish = Human('Yashish','22')
#yashish.display_val()

#deepu = Human('Deepanjan','22')
#deepu.display_val()
#deepu.handicap()

obj = Human()
obj.hands

2

In [161]:
class MySecClass():
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def mySecFunc(self):
        return (f'{self.a},{self.b} This is my second function.')
obj1 = MySecClass('Yashish','Mohanty')
print(obj1.mySecFunc())
print(obj1.a)
print(obj1.b)

Yashish,Mohanty This is my second function.
Yashish
Mohanty

# Inheritance
 - A chil class inherits/can access all the methods and attributes of the parent class

In [184]:
class A:
    def __init__(self):
        self.a = 12
        self.b = 13
    def myAtt(self):
        return('This is parent class A')

In [201]:
class B():
    def myAtt2(self):
        return('This is 2nd Parent B')

In [202]:
class C(A,B):
    pass

In [204]:
yashish = C()

In [205]:
yashish.b

13

In [206]:
yashish.a

12

In [208]:
yashish.myAtt()

'This is parent class A'

In [207]:
yashish.myAtt2()

'This is 2nd Parent B'

In [209]:
#Self
#NameSpace
#Interning

In [242]:
class A():
    a = None
    b = None
    def __init__(self,c,d):
        self.c = c
        self.d = d

In [262]:
y = A(1,123)

In [263]:
y.a = 10
y.a

10

In [264]:
y.b = 100
y.b

100

In [265]:
y.c

1

In [266]:
y.d

123

In [267]:
## Inheritance

In [390]:
class Parent:
    def __init__(self,a,b):
        self.a = a
        self.b = b

In [303]:
class Base(Parent):
    def __init__(self,a,b,c):
        self.c = c
        super().__init__(a=a,b=b)

In [304]:
obj = Base(1,2,3)

In [305]:
obj.a

1

In [306]:
obj.b

2

In [307]:
obj.c

3

In [374]:
class A1:
    def __init__(self):
        self.aa = 4
        self.bb = 4
        self.cb = 4

In [375]:
class B1(A1):
    def __init__(self):
        super().__init__()

In [376]:
obj1 = B1()

In [377]:
obj1.aa

4

In [378]:
B1.b

AttributeError: type object 'B1' has no attribute 'b'

In [379]:
B1.c

AttributeError: type object 'B1' has no attribute 'c'

In [386]:
# Multi-level Inheritance

In [7]:
class A2():
    def __init__(self):
        self.a = 10
        self.b = 20
class B2(A2):
    def __init__(self):
        self.c = 10
        self.d = 20
class C2(B2):
    def __init__(self):
        self.e = 10
        self.f = 20

In [8]:
obj = C2()

In [9]:
obj.a

AttributeError: 'C2' object has no attribute 'a'

In [10]:
class A2():
    a = 10
    b = 20
class B2(A2):
    c = 10
    d = 20
class C2(B2):
    e = 10
    f = 20

In [11]:
ob = C2()

In [12]:
ob.a

10

In [13]:
class A2():
    def __init__(self):
        self.a = 10
        self.b = 20
class B2(A2):
    def __init__(self):
        super().__init__()
        self.c = 10
        self.d = 20
class C2(B2):
    def __init__(self):
        super().__init__()
        self.e = 10
        self.f = 20

In [14]:
ob2 = C2()

In [15]:
ob2.a

10

In [16]:
class Parent:
    def __init__(self, txt='This is sample'):
        self.message = txt

    def printmessage(self):
        print(self.message)

class Child(Parent):
    def __init__(self, txt):
        super().__init__(txt)

x = Child()
x.printmessage()

TypeError: Child.__init__() missing 1 required positional argument: 'txt'

In [17]:
#you have a base function with 2 parameters and returns a/b
#but when a>b then a/b, but when b>a, then b/a

def dec(x):
    def mfunc(a,b):
        if (b>a):
            a,b = b,a
        val =  x(a,b)
        return val
    return mfunc

@dec
def base(a,b):
    return a/b

result = base(20, 100) 
print(result)

5.0

In [18]:
result = base(3, 6) 
print(result)

2.0

In [19]:
class Abc():
    __a = 5
    _b  = 10
    c   = 20

In [20]:
obj = Abc()

In [21]:
obj.c

20

In [22]:
obj.__a

AttributeError: 'Abc' object has no attribute '__a'

In [23]:
obj._b = 20
obj._b

20

In [24]:
## Access Modifiers
# Private '__'
# protected '_'

In [25]:
class Efg(Abc):
    pass

In [26]:
obj2 = Efg()

In [27]:
obj2.c

20

In [28]:
obj2._b

10

In [29]:
obj2.__a

AttributeError: 'Efg' object has no attribute '__a'

In [30]:
# Here in the above code we can never access __a outside of the class.
# Only inside we can access and use __a.

In [31]:
class Abc():
    __sessionId = 'This is session ID' #this is private
    _b  = 10 #this is protected
    c   = 20 
    def _login(self,sessionId):     #protected function/method
        if sessionId == self.__sessionId:
            print('Login Successful')

In [32]:
obj3 = Abc()

In [33]:
obj3._login('This is session ID') # we can also make 
                                  # a method protected and use it.

Login Successful

In [34]:
# Program to illustrate access modifiers of a class

# Super class
class Super:
    
    # Public data member
    var1 = None

    # Protected data member
    _var2 = None

    # Private data member
    __var3 = None

    # Constructor
    def __init__(self, var1, var2, var3):
        self.var1 = var1
        self._var2 = var2
        self.__var3 = var3

    # Public member function
    def displayPublicMembers(self):
        # Accessing public data members
        print("Public Data Member:", self.var1)

    # Protected member function
    def _displayProtectedMembers(self):
        # Accessing protected data members
        print("Protected Data Member:", self._var2)

    # Private member function
    def __displayPrivateMembers(self):
        # Accessing private data members
        print("Private Data Member:", self.__var3)

    # Public member function
    def accessPrivateMembers(self):
        # Accessing private member function
        self.__displayPrivateMembers()

# Derived class
class Sub(Super):

    # Constructor
    def __init__(self, var1, var2, var3):
        Super.__init__(self, var1, var2, var3)

    # Public member function
    def accessProtectedMembers(self):
        # Accessing protected member functions of the super class
        self._displayProtectedMembers()

# Creating objects of the derived class
obj = Sub("Geeks", 4, "Geeks!")

# Calling public member functions of the class
obj.displayPublicMembers()
obj.accessProtectedMembers()
obj.accessPrivateMembers()

# Object can access protected member
print("Object is accessing protected member:", obj._var2)

Public Data Member: Geeks
Protected Data Member: 4
Private Data Member: Geeks!
Object is accessing protected member: 4

In [35]:
# define parent class Company
class Company:
    # constructor
    def __init__(self, name, proj):
        self.name = name      # name(name of company) is public
        self._proj = proj     # proj(current project) is protected
    
    # public function to show the details
    def show(self):
        print("The code of the company is = ",self.ccode)

# define child class Emp
class Emp(Company):
    # constructor
    def __init__(self, eName, sal, cName, proj):
        # calling parent class constructor
        Company.__init__(self, cName, proj)
        self.name = eName   # public member variable
        self.__sal = sal    # private member variable
    
    # public function to show salary details
    def show_sal(self):
        print("The salary of ",self.name," is ",self.__sal,)

# creating instance of Company class
c = Company("Stark Industries", "Mark 4")
# creating instance of Employee class
e = Emp("Steve", 9999999, c.name, c._proj)

print("Welcome to ", c.name)
print("Here ", e.name," is working on ",e._proj)

# only the instance itself can change the __sal variable
# and to show the value we have created a public function show_sal()
e.show_sal()

Welcome to  Stark Industries
Here  Steve  is working on  Mark 4
The salary of  Steve  is  9999999

In [36]:
#Method Overriding Example:

class Animal:
    Multicellular = True
    
    def feed(self):
        print('I eat food')
    
    def breath(self):
        print('I breath oxygen to survive')

class Herbivorus(Animal):
    def feed(self):
        print('I only eat plants. I am vegetarian')

goat = Herbivorus()
goat.feed()
goat.breath()

I only eat plants. I am vegetarian
I breath oxygen to survive

In [37]:
class MyClass:
    def __init__(self):
        pass
    
    def __str__(self):
        return ('This class implements the __str__() functionality')
    def __add__(self):
        return 5+10

In [38]:
obj = MyClass()

In [39]:
print(obj)

This class implements the __str__() functionality

In [40]:
sum()

TypeError: sum() takes at least 1 positional argument (0 given)

In [41]:
#1 Question: Implement a decorator to log function calls and their arguments.
def dec_log(x):

    def mfunc(*args):
        print(f"Calling {x.__name__}() with arguments: {args}")
        result = x(*args)
        mfunc.count =+ 1
        print(f"{x.__name__}() return = {result} and number of times the function call happns {mfunc.count}")

    mfunc.count = 0
    return mfunc

@dec_log
def base(a, b):
    return a + b

result = base(2, 3)

Calling base() with arguments: (2, 3)
base() return = 5 and number of times the function call happns 1

In [42]:
def dec_log(x):

    def mfunc(*args):
        mfunc.count += 1
        print(f"Calling {x.__name__}() with arguments: {args}")
        result = x(*args)
        print(f"{x.__name__}() return = {result} and number of times the function call happens: {mfunc.count}")
    mfunc.count = 0
    return mfunc

@dec_log
def base(a, b):
    return a + b

@dec_log
def base2(a,b,c):
  return a+b+c

result = base(2, 3)
result2 = base2(2,4,5)

Calling base() with arguments: (2, 3)
base() return = 5 and number of times the function call happens: 1
Calling base2() with arguments: (2, 4, 5)
base2() return = 11 and number of times the function call happens: 1

In [43]:
#2 Question: Create a decorator that counts the number of times a function is called.
def dec_count_calls(func):

    def mfunc(*args):
        mfunc.count += 1
        print(f"Function '{func.__name__}'() has been called {mfunc.count} time/s.")
        result = func(*args)
        return result
    mfunc.count = 0
    return mfunc

# Usage example
@dec_count_calls
def base(val):
    return f"Hello, {val}!"

@dec_count_calls
def base2(a, b):
    return a + b

for i in range(3):
    base("Alice")

for i in range(5):
    base2(2, 3)

Function 'base'() has been called 1 time/s.
Function 'base'() has been called 2 time/s.
Function 'base'() has been called 3 time/s.
Function 'base2'() has been called 1 time/s.
Function 'base2'() has been called 2 time/s.
Function 'base2'() has been called 3 time/s.
Function 'base2'() has been called 4 time/s.
Function 'base2'() has been called 5 time/s.

In [54]:
#3 Question: Write three decorators, @uppercase, @exclamation, and @repeat(n),
# which convert a string to uppercase, add an exclamation mark, and repeat it 'n' times, respectively.
# Apply these decorators to a function greet that takes a string as input and returns a greeting message.

# Uppercase decorator
def dec_upp(func):
    def upp_mfunc(*args):
        result = func(*args) #base() called here
        return result.upper() #value is upper_cased
    return upp_mfunc

# Exclamation decorator
def dec_exc(func):
    def exc_mfunc(*args):
        result = func(*args) #upp_mfunc() called here
        return result + '!\n' #upper_cased value is concatinated with !
    return exc_mfunc


# Repeat decorator
def dec_rep(n):
    def dec1(func):
        def rep_mfunc(*args):
            result = func(*args) * n
            return result
        return rep_mfunc
    return dec1



@dec_rep(6)
@dec_exc
@dec_upp
def base(name):
    return f"Hello, Nice to meet you {name}"

msg = base("yashish") # modified and exc_mfunc() called here
print(msg)

HELLO, NICE TO MEET YOU YASHISH!
HELLO, NICE TO MEET YOU YASHISH!
HELLO, NICE TO MEET YOU YASHISH!
HELLO, NICE TO MEET YOU YASHISH!
HELLO, NICE TO MEET YOU YASHISH!
HELLO, NICE TO MEET YOU YASHISH!

In [47]:
#3 Question: Write three decorators, @uppercase, @exclamation, and @repeat(n),
# which convert a string to uppercase, add an exclamation mark, and repeat it 'n' times, respectively.
# Apply these decorators to a function greet that takes a string as input and returns a greeting message.

# Uppercase decorator
def dec_upp(func):
    def upp_mfunc(*args):
        result = func(*args) #base() called here
        return result.upper() #value is upper_cased
    return upp_mfunc

# Exclamation decorator
def dec_exc(func):
    def exc_mfunc(*args):
        result = func(*args) #upp_mfunc() called here
        return result + '!\n' #upper_cased value is concatinated with !
    return exc_mfunc


#Repeat decorator
def dec_rep(func):
  def rep_mfunc(*args):
    for i in range(3):
        res = func()
        yield(res)
  return rep_mfunc

@dec_rep
@dec_exc
@dec_upp
def base(name):
    return f"Hello, Nice to meet you {name}"

msg = base("yashish") # modified and exc_mfunc() called here
print(msg)

TypeError: base() missing 1 required positional argument: 'name'

func1() took 0.034 seconds to execute.
func2() took 0.463 seconds to execute.
func3() took 6.040 seconds to execute.

In [84]:
#3 Question: Write three decorators, @uppercase, @exclamation, and @repeat(n),
# which convert a string to uppercase, add an exclamation mark, and repeat it 'n' times, respectively.
# Apply these decorators to a function greet that takes a string as input and returns a greeting message.

# Uppercase decorator
def dec_upp(func):
    def upp_mfunc(*args):
        result = func(*args) #base() called here
        return result.upper() #value is upper_cased
    return upp_mfunc

# Exclamation decorator
def dec_exc(func):
    def exc_mfunc(*args):
        result = func(*args) #upp_mfunc() called here
        return result + '!\n' #upper_cased value is concatinated with !
    return exc_mfunc


#Repeat decorator
def dec_rep(func):
    def rep_mfunc(*args):
        result = func(*args) 
        return result * 3
    return rep_mfunc 

@dec_rep
@dec_exc
@dec_upp
def base(name):
    return f"Hello, Nice to meet you {name}"

msg = base("yashish") # modified and exc_mfunc() called here
print(msg)

HELLO, NICE TO MEET YOU YASHISH!
HELLO, NICE TO MEET YOU YASHISH!
HELLO, NICE TO MEET YOU YASHISH!

In [25]:
# Running cells with 'c:\Users\CZ0259\Banking System\venv\python.exe' requires the ipykernel package.
# Run the following command to install 'ipykernel' into the Python environment. 
# Command: 'conda install -p c:\Users\CZ0259\Banking System\venv ipykernel --update-deps --force-reinstall'

:

In [3]:
def numCells(grid):
    res = 0
    for i in range(len(grid)):
        for k in range(len(grid[0])):
            val = grid[i][k]
            flag = 1
            for ii in range(max(0, i - 1), min(len(grid), i + 2)):
                for kk in range(max(0, k - 1), min(len(grid[0]), k + 2)):
                    if (ii, kk) != (i, k) and val <= grid[ii][kk]:
                        flag = 0
                        break
                if flag == 0:
                    break
            else:
                res += 1
    return res
grid = [[1,4,7],[2,5,8],[3,6,9]]
numCells(grid)

1

In [8]:
class Customer:
    def __init__(self, customer_id, name, address, phone_number):
        self.customer_id = customer_id
        self.name = name
        self.address = address
        self.phone_number = phone_number

    def get_customer_info(self):
        return f"Customer ID: {self.customer_id}\n Name: {self.name}\n Address: {self.address}\n Phone Number: {self.phone_number}"

In [22]:
class Account:
    def __init__(self, account_id, customer, balance=0):
        self.account_id = account_id
        self.customer = customer
        self.balance = balance
        self.transactions = []

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            self.transactions.append(f"Deposited ${amount}")
            return True
        else:
            return False

    def withdraw(self, amount):
        if 0 < amount <= self.balance:
            self.balance -= amount
            self.transactions.append(f"Withdrew ${amount}")
            return True
        else:
            return False

    def get_balance(self):
        return self.balance

#    def get_transaction_history(self):
#        transaction_history = ""
#        for tran in self.transactions:
#            transaction_history += tran + "\n"
#        return transaction_history

## Exception Handling

In [31]:
## Exception --> A break in between an execution. a.k.a Errors

# Error --> A scenario that creates the Exception.

#Types of Error:
# -------------

#ValueError: when we try to pass a value as an argument which the method doesnt support
# ex: int('Yashish')
#See NameSpace Error

In [32]:
#Assert Error:
y = 0
assert y != 0

AssertionError:

In [33]:
def fib():
    for i in range(1,20):
        for j in range(i-1,20):
            return i/j

In [34]:
fib()

ZeroDivisionError: division by zero

In [ ]:
try:
    #This block contains the line of code that are suspected to thorw an error.
except: 
    #This block will catch the exception that try block will throw
    #This is mandetory with the try block
else:
    #This block will execute when the try block throws an error.
    #Basically it will handle the error.
Finally:
    #Executes everytime

In [40]:
a = 10
b = 0
try:
    a/b
except Exception as e:
    print(e)
else:
    print('No exception occured')

division by zero

In [45]:
import sys
try:
    b = int('Subha')
except Exception as e:
    print(sys.exc_info())

(<class 'ValueError'>, ValueError("invalid literal for int() with base 10: 'Subha'"), <traceback object at 0x00000206E50860C0>)

In [47]:
a = 10
b = 0
try:
    a/b
except ZeroDivisionError:
    print('cannot divide a number with 0')
else:
    print('No exception occured')

cannot divide a number with 0

In [57]:
import sys
try:
    a = 5
    #b = int('Yashish')
    #c = 10/0
    d = a[1]
except ValueError:
    print('Can not convert string to int')
except ZeroDivisionError:
    print('Can not divide by 0')
except TypeError:
    print('Can not iterate over int')
else:
    d = a
    print(d)

Can not iterate over int

In [53]:
## EXceptions catching 
# - Exception as e
# - sys.exc_info()
# - by using the error class's name

In [1]:
import math
 
result = math.e != math.pow(2, 4)
print(int(result))

1

In [2]:
from random import randint
    
for i in range(2):
   print(randint(1, 2), end='')

22